<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mursitaffandi.dododo">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".ApplicationBase"
        android:theme="@style/AppTheme">
        <activity android:name=".view.RegisterActivity"
            android:label="Register">
        </activity>
        <activity android:name=".view.MainActivity" />
        <activity android:name=".view.LoginActivity"
            android:label="Login"></activity>
        <activity android:name=".view.SplashActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".view.InformasiActivity"
            android:label="Informasi Poli Kesehatan"></activity>
        <activity android:name=".view.AntrianKuActivity"/>
        <activity android:name=".view.OTPActivity"
            android:label="Konfirmasi SMS"></activity>
        <activity android:name=".view.JadwalCheckUpActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver android:name="com.mursitaffandi.dododo.receiver.SmsReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>